

/* ************************************************************************************************
CMS Pages Styles
************************************************************************************************ */
/*==========================SMART BLOG =======================*/

div.blog-item{padding: 10px 0; float: left;

    
    .itemBlogContent{display: block;overflow: hidden;
        h4.blog-title{font-size: 18px; margin: 0px 0px 8px;
            a{color: $textColor;
                &:hover{color: $linkColor;}
            }
        }
        .blog-header .created{height: auto; background: transparent; color: #999; padding: 0;
            i{margin-right: 5px;}
        }
        
    }
}


.itemBlog-header{margin-bottom: 38px;
    .blog-meta{border: 0;color: #999;
        > span{padding: 0 11px; line-height: 14px;
            &.created{padding-left: 0;}
        }
    }
}
/*==================Blog category ==================*/
.box{
    h2.box-heading{font-size: 16px; border-bottom: 1px solid #e6e6e6;margin: 0 0 6px;padding: 9px 0; text-transform: uppercase; font-weight: bold; position: relative;

        &:after{content:" "; width: 50%; height: 1px; background: $background1; display: block; position: absolute; bottom: 0;margin-bottom: -1px; }  
    }
    &#blog-accordion{
        ul li{border-radius: 0;border: 0;  border-bottom: 1px dotted #E4E4E4;margin: 0; padding:10px 0;
            a{border: 0; background: 0; text-shadow: none; padding: 0;
                &:hover{color: $linkColor;}
                &.active{color: $linkColor;}
            }
           
        }
    }
}
/*=======================BLOG LATEST ===================*/
.latest-blog h2.box-heading:after{width: 40%;}
.pavblog-latest{

    .blog-item{padding: 0; margin: 7px 0;
        .media-left{float: left; padding-right: 10px;}
        .media-body{
            .created{background: transparent; color: #999; width: 100%; padding: 0; font-size: 11px;}
            h4.blog-title{margin: 0; font-size: 12px; line-height: 20px;
                a{color: $textBody;
                    &:hover{color: $linkColor;}
                }
            }
            .blog-body{display: none;}
        }
    }
}
/*======================BLOG COMMENT ==================*/
.pavblogs-comments-box{margin-top: 10px;}
.pavblog-comments{margin-top: 20px;
    .pav-comment{border-top: 0; margin: 0 0 20px 0; padding: 0 0 20px 0;}
    .comment-author{color: #999;}
}

/*===================PAV PAGINATION =============*/
.pav-pagination.pagination{margin-top: 20px; text-align: center;
    ul{
       
    }
}

/*---------------------- SIMPLE BLOG --------------------------*/
.blog-header{margin-bottom: 10px;
    h2{font-weight: bold;text-transform: uppercase;margin: 0;}
}
.blog-listitem{
    .blog-item{padding: 15px 0;float: left; 
        .itemBlogImg{padding: 0;
            a{display: block;position: relative; float: left;
                &:after {content: "";width: 100%;height: 100%;position: absolute;top: 0;left: 0;background: #000;opacity: 0.5;transition: 0.3s all ease 0s;transform:scale(0);}
            }
            &:hover{
                a:after {transform:scale(1);}
            }
            img{border: 0; padding: 0; border-radius: 0; width: 100%;}
        }
        .itemBlogContent{padding-left: 30px; 
            .article-title h4{margin: 0px 0px 8px;
                a{font-size: 18px;color: #444;font-weight: normal;
                    &:hover{color: $linkColor;}
                }
            }
            .article-sub-title{border: 0; margin-bottom: 0;
                .article-date{font-size: 11px; color: #999;
                    i{margin-right: 5px;}
                }
            }
            .article-description{padding: 8px 0; font-size: 13px;}
            
            .blog-meta{float: left; border: 0; margin: 0; color: #999;line-height: 10px;
            > span{padding: 0 10px; line-height: 15px; font-weight: normal; font-size: 11px;
                &.comment_count{padding-left: 0;border-right: 1px solid #E5E5E5;
                    a{color: $linkColor;line-height: 10px;}
                }
            }
        }
        }
    }
}

/*--------------BLOG CATEGORY ---------------------*/
.blog-category{border-radius: 0; border: 0; box-shadow: none;
    .box-content{margin-bottom: 30px;
        ul{margin-bottom: 0;}
    }
    ul li.list-group-item{border-radius: 0;border: 0;border-bottom: 1px dotted #E4E4E4;margin: 0;padding: 10px 0;
        a{border-radius: 0; border: 0; padding: 0;}
    }
}
#blog-search{display: none;}
/*--------------------ARTICLE INFO ------------------*/
div.article-info{border: 0;
    .article-title{font-size: 20px; font-weight: normal; color: #444;
        h1{font-size: 16px; margin-top: 0; font-weight: bold;}
    }
    .article-sub-title{float: left; width: 100%; border: 0;
        span{font-weight: bold;border-right: 1px solid #E5E5E5; display: block;float: left; font-size:11px; color: #999; line-height: 11px; padding: 0 11px; font-weight: normal !important;
            &.bullet{display: none;}
            &.article-author{padding-left: 0;
                a{font-size: 11px;color: #999; font-weight: normal;}
            }
            &.article-comment{border-right: 0;}
        }
        .article-share{display: none;}
    }
    .article-image{clear: both;
        img{border: 0; border-radius: 0; padding: 0; height: auto;}
    }
    .article-description{font-size: 13px;}
    
    .related-comment{border-radius: 0; border: 0; border-top: 1px solid #ddd; padding-top: 15px; box-shadow: none;
        .panel-body{padding: 0; border: 0;
            .form-group #comments{padding: 0; border: 0; overflow: hidden;
                h2#review-title{margin: 0 0 30px; padding: 0;font-weight: bold;text-transform: uppercase;font-size: 14px;}
            }
        }
        #button-comment{background: $background1; border-color: $linkColor;
            &:hover{background: #444; border-color: #444;}
        }
    }
    #comment-list{
        h5{display: none;}
        a{color: $linkColor; text-decoration: underline;}
    } 
    .itemFullText{text-align: justify;}
}

