.form-control, .form-field {
    padding: 7px 10px;
    background-color: #f9f9f9;
    border: 1px solid #dedede;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px 0px rgba(0,0,0,0.05);
    line-height: 1.2;
    display: block;
}
.custom-code{
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
    line-height: 30px;
}
.width30{width: 30% !important;}
.width15{width: 15% !important;}
.margin15{margin-bottom: 15px;}
.help-block{font-size: 11px;color: #999;}
.no-margin{margin: 0 !important;}
/*---Panel--*/
.so-panel{
    font-size: 13px;
    background-color: #eee;
    border: 3px solid #eee;
    border-radius: 3px;
    margin-bottom: 10px;
    .panel-title {
        font-size: 14px;
        padding: 9px 20px 10px 20px;
        position: relative;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0px;
        color: #333;
        .help-block{text-transform: none; display: inline-block; font-weight: normal;margin: 0 20px;}
    }
}

.panel-container {
    background-color: #fff;
    padding: 15px;
    > .form-group{
        margin: 0;
        padding: 15px 0;
        border-bottom: 1px solid #eee;
        &:last-child{border: none;padding-bottom: 0px;}
        .control-label{font-weight: normal; border-right: 1px solid #eee;padding: 5px;}
    }
}

.main_tabs{background-color:#515151;border-radius: 2px;border:1px solid #515151;overflow:hidden;}
.main_tabs > li {margin:0; border-right: 1px solid #5A5A5A;}
.nav-tabs.main_tabs > li > a{color: #C4C4C4; font-size: 14px; font-weight: normal;padding: 10px 20px;margin: 0;}
.nav-tabs.main_tabs > li.active > a,
.nav-tabs.main_tabs > li > a:hover,
.nav-tabs.main_tabs_vertical > li.active > a,
.nav-tabs.main_tabs_vertical > li > a:hover{
    background-color: #444;
    border: 1px solid #444;
    color: #fff;
    font-weight: normal;
}

.nav-tabs.main_tabs_vertical.store_tabs > li.active > a,
.nav-tabs.main_tabs_vertical.store_tabs > li.active > a:hover{
    color: #fff;
    background-color: #333;
    border:none;
    box-shadow: 5px 0 0 #1978ab inset;
    font-weight: 600;
}
.nav-tabs.main_tabs_vertical.store_tabs > li > a:hover{
    border:none;
    background: #444;
    font-weight: 600;
}
.nav-tabs.main_tabs_vertical{border:none;padding-left:15px; }
.nav-tabs.main_tabs_vertical > li{float:none;width: 100%}
.nav-tabs.main_tabs_vertical > li{border-bottom: 1px solid #5A5A5A;background-color: #515151;margin: 0;}
.nav-tabs.main_tabs_vertical > li > a{border:none;font-size: 13px;font-weight: 600;border-radius: 0; color: #C4C4C4;padding: 12px 15px;margin: 0;}

.main_tabs_horizontal{font-size: 12px;display:inline-block;margin:0; vertical-align:top;border: none;}
.main_tabs_horizontal li{margin: 0;}
.main_tabs_horizontal > li > a{margin: 0;padding: 8px 10px; border: 1px solid #ccc;}
.main_tabs_horizontal > li:first-child > a{border-radius: 3px 0 0 3px;border-right: 0!important;}
.main_tabs_horizontal > li:last-child > a{border-radius: 0 3px 3px 0;border-left: 0 !important;}
.main_tabs_horizontal > li.active  a,
.main_tabs_horizontal > li.active  a:hover,
.main_tabs_horizontal > li.active  a:focus{color: #ffffff;background-color: #75a74d;border-color:#75a74d;font-weight: normal; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1) inset;}
.main_tabs_horizontal > li  a:hover{background-color: #eee;border-color:#ccc;}


.tab-horizontal .tab-content{ display:inline-block;width:62%;margin: 0 10px;}
.form-horizontal .control-label{text-align:left;font-weight: normal;}


.main_tabs_2{background: #eee;border-radius: 3px;padding: 10px;border: none;display: block;margin-bottom: 30px;}
.main_tabs_2 li{border-right: 1px solid #929292;}
.main_tabs_2 li.active:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border: 10px solid #666;
    border-color: #666 transparent transparent transparent;
    left: 50%;
    bottom: -20px;
    margin-left: -10px;
}
.main_tabs_2 > li > a{border-radius: 0px;border: none !important;margin: 0;padding: 10px 20px; background: #828384;margin: 0;color: white;font-size:13px;}
.main_tabs_2 > li.active  a,
.main_tabs_2 > li.active  a:hover,
.main_tabs_2 > li.active  a:focus{background-color: #666;color: #ffffff;font-weight: normal;}
.main_tabs_2 > li  a:hover{background-color: #666;}

.products_button{
    border-radius: 3px;
    color:#fff;
    padding:7px 8px ;
    display:inline-block;
    margin:0 4px;
    text-transform: uppercase;
    font-size: 11px;
   
}
.products_button.label-default{ background: #828384;}
.products_button:hover{
    background-color: #1e91cf;
    border-color: #1e91cf;
    color: #fff;
}
.products_button .fa{font-size: 14px; margin: 0 3px;  vertical-align: middle;}
h3.panel-brand{text-transform: uppercase;font-weight: 700;font-size: 18px;margin: 0;}
h3.panel-brand .label{text-transform: none;font-size: 11px;}
h2.title_h2{
    text-transform: uppercase;
    color: #f23b3b;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 3px;
    border-bottom: 1px dotted #918D8D;
    display:block;
}

.add-soconfig_cssfile,.add-soconfig_jsfile,
.add-soconfig_cssfile_store,.add-soconfig_jsfile_store{padding: 4px 10px; margin-top: 2px;}
.block-group{margin-bottom:15px;}
.block-group .control-label{margin-bottom:5px;}
.img-patt {width: 45px;display: inline-block;text-align: center; margin-bottom: 10px;}
.pic_error{margin: 10px 0;color: white;background: #cb1e1e;padding: 3px 10px;border-radius: 3px;font-size: 11px;display: inline-block;}
