/*******************************************
***          SO Framework: Sass          ***
*******************************************/

// --* System Tool Templates  *----------------------
// -----------------------------------------------
/*   1.Back To Top
 *   2.cookieMessage
 */


/* 1.Back To Top
----------------------------------------------------- */
.back-to-top {
    cursor: pointer;
    background-color: #777;
    width: 45px;bottom: 20px;right: 10px;min-height: 42px;
    overflow: hidden; z-index: 40;position: fixed;display: block;text-align: center;border-radius:3px;opacity:1;
    
    @include transition(all 0.5s ease-in-out 0s);
    @include transform(scale(1) );
   // @include scale(1);
   // 
    
    &.hidden-top {bottom: -100px;opacity:0;  @include transform(scale(0) );}
    &:hover{background-color:$background1;}
    i{font-size: 36px;margin: 1px 0 0 0 !important;color: #fff;display: inline-block;}
}

/* 2.SOCIAL ACCOUNTS (RIGHT FIXED PANEL)
----------------------------------------------------- */
.social-widgets {
	position:fixed;
	z-index:100;
	top:50%;
	height:0;
	width:0;
	right:0
}
.social-widgets .item, .social-widgets .items {
	margin:0;
	padding:0;
	list-style-type:none
}

.social-widgets .items {
	top:-100px;
	position:relative
}
.social-widgets .item {
	position:absolute;
	top:0;
	left:120px
}
.social-widgets .active {
	z-index:100;
	left:-310px
}
.social-widgets .item-01, .social-widgets .item-02, .social-widgets .item-03, .social-widgets .item-04, .social-widgets .item-05, .social-widgets .item-06, .social-widgets .item-07, .social-widgets .item-08, .social-widgets .item-09 {
	left:0;
}
.social-widgets .item-01 {
	top:0;
	z-index:99
}
.social-widgets .item-02 {
	top:45px;
	z-index:98
}
.social-widgets .item-03 {
	top:90px;
	z-index:97
}
.social-widgets .item-04 {
	top:150px;
	z-index:96
}
.social-widgets .item-05 {
	top:200px;
	z-index:95
}

.social-widgets .tab-icon .fa{font-size:18px;}
.social-widgets .tab-icon {
	position:absolute;
	top:0;
	left:-45px;
	display:block;
	width:45px;
	height:45px;
	background:#fff;
	text-align:center;
	font-size:1.54em;
	line-height:45px;
}
.social-widgets .tab-icon:hover {
	text-decoration:none
}
.social-widgets .active .tab-icon {
	border-color:#E9E9E9;
	background:#fff
}
.social-widgets .facebook .tab-icon{
	background: #3b5998;
	background-clip: content-box;
	color: white;
}
.social-widgets .twitter .tab-icon{
	background: #07779a;
	background-clip: content-box;
	color: white;
}
.social-widgets .youtube .tab-icon{
	background: #DA2723;
	background-clip: content-box;
	color: white;
}
.social-widgets .tab-content {
	background:#fff;
	width:310px;
	padding:10px ;
}
.social-widgets .active .tab-content {
	box-shadow:0 0 4px rgba(0, 0, 0, .15)
}
.social-widgets .title {
	margin:-10px -10px 10px;
	padding:6px 10px;
	background-color:#ccc;
	text-transform:uppercase
}
.social-widgets .facebook.active {
	left:-260px
}
.social-widgets .facebook .tab-content {
	width:260px
}
.social-widgets .twitter.active {
	left:-300px
}
.social-widgets .twitter .tab-content {
	width:300px
}
.social-widgets .twitter-widget {
	padding-top:10px
}
.social-widgets .youtube.active {
	left:-450px
}
.social-widgets .youtube .tab-content {
	width:450px;
}
.social-widgets .loading {
	min-height:200px;
	position:relative;
	z-index: 1000;
}
.social-widgets .loading img.ajaxloader {
	position:absolute;
	top:45%;
	left:45%;
	width:32px;
	height:32px
}

/* CSS animation magnific-popup*/

/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
	opacity: 0;
	-webkit-transition: all 0.2s ease-in-out; 
	-moz-transition: all 0.2s ease-in-out; 
	-o-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out; 

	-webkit-transform: scale(0.8); 
	-moz-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	-o-transform: scale(0.8); 
	transform: scale(0.8); 
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	opacity: 1;

	-webkit-transform: scale(1); 
	-moz-transform: scale(1); 
	-ms-transform: scale(1); 
	-o-transform: scale(1); 
	transform: scale(1); 
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	-webkit-transform: scale(0.8); 
	-moz-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	-o-transform: scale(0.8); 
	transform: scale(0.8); 

	opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-out; 
	-moz-transition: opacity 0.3s ease-out; 
	-o-transition: opacity 0.3s ease-out; 
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}

/* 3.TOP PANEL (RIGHT FIXED PANEL)
----------------------------------------------------- */
header.navbar-compact {top: -50px; position: fixed;width:100%;    background: #fff; z-index:900;box-shadow: 1px 1px 5px rgba(0,0,0,0.3); }
.navbar-switcher {text-align: center;float: right;display: none;width: 49px;height: 47px;margin-bottom: -47px; margin-right: 10px;background: #ee3b27!important; padding: 6px 7px; border-radius: 0 0 3px 3px;cursor: pointer;color: #fff;}
.navbar-compact .header-center{padding:10px 0;}
.navbar-compact .header-bottom{margin:0;}
.navbar-switcher.active {background:#333!important}
.navbar-switcher .i-active, .navbar-switcher.active .i-inactive {display:none}
.navbar-switcher.active .i-active ,
.navbar-switcher .fa-caret-down{display:inline;font-size:1.8em;line-height:1.5em}
.navbar-compact .compact-hidden,
.navbar-compact .compact-hidden.hidden-xs {display: none!important;}

/* 4.LARY LOADER
----------------------------------------------------- */
.lazy {display: block;position: relative; height: 0; overflow: hidden; background: transparent url(../images/lazy-loader.gif) no-repeat center center;}
.lazy.lazy-loaded {background: none;height:auto;}
.lazy img {transition: 1s all ease;opacity: 0;-webkit-backface-visibility: hidden;}
.lazy.lazy-loaded img { opacity: 1;	}