<!doctype html>
<!--[if IE 7]>    <html class="ie7" > <![endif]-->
<!--[if IE 8]>    <html class="ie8" > <![endif]-->
<!--[if IE 9]>    <html class="ie9" > <![endif]-->
<!--[if IE 10]>    <html class="ie10" > <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en-US"> <!--<![endif]-->
		<head>
				<!-- META TAGS -->
				<meta charset="UTF-8" />
				<meta name="viewport" content="width=device-width" />
				
				<!-- Title -->
				<title>Max Shop</title>

                <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700,600,800' rel='stylesheet' type='text/css'>
                <link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
                <link href='http://fonts.googleapis.com/css?family=Quattrocento:400,700' rel='stylesheet' type='text/css'>

                <!-- Style Sheet-->
                <link rel="stylesheet" href="css/tooltipster.css">
                <link rel="stylesheet" href="css/bootstrap.css">
                <link rel="stylesheet" href="css/prettyPhoto.css">
                <link rel="stylesheet" href="style.css">
                <link rel="stylesheet" href="css/responsive.css">
                <link href="css/ie.css" rel="stylesheet" media="all">


                <!-- favicon -->
                <link rel="shortcut icon" href="images/favicon.jpg">

                <!-- Include the HTML5 shiv print polyfill for Internet Explorer browsers 8 and below -->
               <!--[if lt IE 10]><script src="js/html5shiv-printshiv.js" media="all"></script><![endif]-->
		</head>
		<body>				
				<!-- HEADER -->
				<div class="header-bar">
                    <div class="container">
                        <div class="row">
                            <div class="pric-icon span2">
                                <a href="#" class="active">&#x20ac;</a>
                                <a href="#">&#xa3;</a>
                                <a href="#">&#36;</a>
                            </div>

                            <div class="span10 right">
                                <div class="social-strip">
                                    <ul>
                                        <li><a href="#" class="account">My Account</a></li>
                                        <li><a href="#" class="wish">Wish List</a></li>
                                        <li><a href="#" class="check">Checkout</a></li>
                                    </ul>
                                </div>

                                <div class="languages">
                                    <a href="#" class="english active"><img src="images/english.png" alt=""></a>
                                    <a href="#" class="german"><img src="images/german.png" alt=""></a>
                                    <a href="#" class="japan"><img src="images/japan.png" alt=""></a>
                                    <a href="#" class="turkish"><img src="images/turkish.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>

                <div class="header-top">
                    <div class="container">
                        <div class="row">

                            <div class="span5">
                                <div class="logo">
                                    <a href="index.html"><img src="images/logo.png" alt=""></a>
                                    <h1><a href="index.html">Ultra Customizable<span> Ecommerce </span>Theme</a></h1>
                                </div>
                            </div>

                            <div class="span5">
                                <form>
                                    <input type="text" placeholder="Type and hit enter">
                                    <input type="submit" value="">
                                </form>
                            </div>

                            <div class="span2">
                                <div class="cart">
                                    <ul>
                                        <li class="first"><a href="#"></a><span></span></li>
                                        <li>0 item(s) - $0.00</li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <header>
                    <div class="container">
                        <div class="row">
                            <div class="span12">
                                <nav class="desktop-nav">
                                    <ul class="clearfix">
                                        <li>
                                            <a href="#">BAGS</a>
                                            <ul class="clearfix sub-menu">
                                                <li class="clearfix">
                                                    <div class="links">
                                                       <h3>Furnitures</h3>
                                                        <p>
                                                            <a href="#">Chair Designs</a>
                                                            <a href="#">Sofa Styles</a>
                                                            <a href="#">Bedrooms</a>
                                                            <a href="#">Table Designs</a>
                                                            <a href="#">Another Category</a>
                                                            <a href="#">Accesories</a>
                                                            <a href="#">Furniture Parts</a>
                                                        </p>

                                                        <p>
                                                            <a href="#">Chair Designs</a>
                                                            <a href="#">Sofa Styles</a>
                                                            <a href="#">Bedrooms</a>
                                                            <a href="#">Table Designs</a>
                                                            <a href="#">Another Category</a>
                                                            <a href="#">Accesories</a>
                                                            <a href="#">Furniture Parts</a>
                                                        </p>

                                                    </div>
                                                    <figure>
                                                        <a href="#"><img src="images/product7.png" alt=""/></a>
                                                    </figure>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Jackets</a>
                                            <ul class="clearfix sub-menu menu-two">
                                                <li class="clearfix">
                                                    <div class="links">
                                                        <h3>Furnitures</h3>
                                                        <p>
                                                            <a href="#">Chair Designs</a>
                                                            <a href="#">Sofa Styles</a>
                                                            <a href="#">Bedrooms</a>
                                                            <a href="#">Table Designs</a>
                                                            <a href="#">Another Category</a>
                                                            <a href="#">Accesories</a>
                                                            <a href="#">Furniture Parts</a>
                                                        </p>

                                                        <p>
                                                            <a href="#">Chair Designs</a>
                                                            <a href="#">Sofa Styles</a>
                                                            <a href="#">Bedrooms</a>
                                                            <a href="#">Table Designs</a>
                                                            <a href="#">Another Category</a>
                                                            <a href="#">Accesories</a>
                                                            <a href="#">Furniture Parts</a>
                                                        </p>

                                                    </div>
                                                    <figure>
                                                        <a href="#"><img src="images/product7.png" alt=""/></a>
                                                    </figure>
                                                </li>
                                            </ul>

                                        </li>
                                        <li>
                                            <a href="#">ACCESORIES </a>
                                            <ul class="clearfix sub-menu menu-three">
                                                <li class="clearfix">

                                                    <figure>
                                                        <a href="#"><img src="images/menu-img.png" alt=""/></a>
                                                    </figure>
                                                    <div class="links">
                                                        <h3>Furnitures</h3>
                                                        <p>
                                                            <a href="#">Chair Designs</a>
                                                            <a href="#">Sofa Styles</a>
                                                            <a href="#">Bedrooms</a>
                                                            <a href="#">Table Designs</a>
                                                            <a href="#">Another Category</a>
                                                            <a href="#">Accesories</a>
                                                            <a href="#">Furniture Parts</a>
                                                        </p>

                                                        <p>
                                                            <a href="#">Chair Designs</a>
                                                            <a href="#">Sofa Styles</a>
                                                            <a href="#">Bedrooms</a>
                                                            <a href="#">Table Designs</a>
                                                            <a href="#">Another Category</a>
                                                            <a href="#">Accesories</a>
                                                            <a href="#">Furniture Parts</a>
                                                        </p>

                                                        <p>
                                                            <a href="#">Chair Designs</a>
                                                            <a href="#">Sofa Styles</a>
                                                            <a href="#">Bedrooms</a>
                                                            <a href="#">Table Designs</a>
                                                            <a href="#">Another Category</a>
                                                            <a href="#">Accesories</a>
                                                            <a href="#">Furniture Parts</a>
                                                        </p>

                                                        <p>
                                                            <a href="#">Chair Designs</a>
                                                            <a href="#">Sofa Styles</a>
                                                            <a href="#">Bedrooms</a>
                                                            <a href="#">Table Designs</a>
                                                            <a href="#">Another Category</a>
                                                            <a href="#">Accesories</a>
                                                            <a href="#">Furniture Parts</a>
                                                        </p>

                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">CATEGORIES</a>
                                            <ul class="clearfix sub-menu menu-four">
                                                <li class="clearfix">

                                                    <div class="our-product">
                                                        <h3>Chairs</h3>

                                                        <div class="clearfix">
                                                            <a href="#"><img src="images/shopping-img.png" alt=""/></a>
                                                            <h4>Brown Wood Chair</h4>
                                                            <span>$244.00</span>
                                                        </div>

                                                        <div class="clearfix">
                                                            <a href="#"><img src="images/shopping-img3.png" alt=""/></a>
                                                            <h4>Brown Wood Chair</h4>
                                                            <span>$244.00</span>
                                                        </div>

                                                        <div class="clearfix">
                                                            <a href="#"><img src="images/shopping-img5.png" alt=""/></a>
                                                            <h4>Brown Wood Chair</h4>
                                                            <span>$244.00</span>
                                                        </div>

                                                    </div>

                                                    <div class="our-product">
                                                        <h3>Bedrooms</h3>

                                                        <div class="clearfix">
                                                            <a href="#"><img src="images/shopping-img.png" alt=""/></a>
                                                            <h4>Brown Wood Chair</h4>
                                                            <span>$244.00</span>
                                                        </div>

                                                        <div class="clearfix">
                                                            <a href="#"><img src="images/shopping-img3.png" alt=""/></a>
                                                            <h4>Brown Wood Chair</h4>
                                                            <span>$244.00</span>
                                                        </div>

                                                        <div class="clearfix">
                                                            <a href="#"><img src="images/shopping-img5.png" alt=""/></a>
                                                            <h4>Brown Wood Chair</h4>
                                                            <span>$244.00</span>
                                                        </div>

                                                    </div>

                                                    <div class="our-product">
                                                        <h3>SofaS</h3>

                                                        <div class="clearfix">
                                                            <a href="#"><img src="images/shopping-img.png" alt=""/></a>
                                                            <h4>Brown Wood Chair</h4>
                                                            <span>$244.00</span>
                                                        </div>

                                                        <div class="clearfix">
                                                            <a href="#"><img src="images/shopping-img3.png" alt=""/></a>
                                                            <h4>Brown Wood Chair</h4>
                                                            <span>$244.00</span>
                                                        </div>

                                                        <div class="clearfix">
                                                            <a href="#"><img src="images/shopping-img5.png" alt=""/></a>
                                                            <h4>Brown Wood Chair</h4>
                                                            <span>$244.00</span>
                                                        </div>

                                                    </div>

                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Manufacters</a></li>
                                        <li><a href="#">Sale </a></li>
                                        <li><a href="#">Blog</a></li>
                                        <li><a href="#">Dresses</a></li>
                                        <li><a href="#">Jewelry</a></li>
                                        <li><a href="#">ShOES</a></li>
                                        <li><a href="#">Shirts</a></li>
                                        <li>
                                            <a href="#">Pages</a>
                                            <ul class="clearfix">
                                                <li><a href="index.html">Home</a></li>
                                                <li><a href="product-grid.html">Product Grid</a></li>
                                                <li><a href="product-list.html">Product List</a></li>
                                                <li><a href="shopping-cart.html">Shopping cart</a></li>
                                                <li><a href="checkout.html">Checkout</a></li>
                                                <li><a href="single-product.html">Single Product</a></li>
                                                <li><a href="blog.html">Blog</a></li>
                                                <li><a href="single.html">Single</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>

                                <select>
                                    <option>BAGS</option>
                                    <option>Jackets</option>
                                    <option>ACCESORIES </option>
                                    <option>CATEGORIES</option>
                                    <option>Manufacters</option>
                                    <option>Sale </option>
                                    <option>Blog</option>
                                    <option>Dresses</option>
                                    <option>Jewelry</option>
                                    <option>ShOES</option>
                                    <option>Shirts</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </header>
				<!-- HEADER -->

                <!-- BAR -->
                <div class="bar-wrap">
                    <div class="container">
                        <div class="row">
                            <div class="span12">
                                <div class="title-bar">
                                    <h1>BLOG PAGE</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- BAR -->

                <!-- PRODUCT-OFFER -->
                <div class="blog_wrap">

                    <div class="container">
                        <div class="row">
                            <div class="span9 blog">

                                <article class="clearfix">
                                    <figure><img src="http://placehold.it/870x324" alt=""/></figure>
                                    <h2>Crave at CES: On the lookout for weird (pictures)</h2>
                                    <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Clatss aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a </p>

                                    <ul class="post-meta clearfix">
                                        <li><a href="#">13 comments</a></li>
                                        <li><span>Dec 31, 2012</span></li>
                                    </ul>
                                </article>


                                <!--COMMENTS-->
                                <div class="commnts-wrap">
                                    <h3>Comments</h3>

                                    <ul class="comments">

                                        <li class="clearfix">
                                            <figure>
                                                <a href="#"><img src="http://placehold.it/76x75" alt="user-img"></a>
                                            </figure>
                                            <div>
                                                <p><a href="#">Jhon J Doe</a> <span>March 25, 2013</span></p>
                                                <p>Testing the comments</p>
                                                <a href="#"> Reply</a>
                                            </div>
                                        </li>

                                        <li class="children">

                                            <ul>

                                                <li class="clearfix">
                                                    <figure>
                                                        <a href="#"><img src="http://placehold.it/76x75" alt="user-img"></a>
                                                    </figure>
                                                    <div>
                                                        <p><a href="#">Jhon J Doe</a> <span>March 25, 2013</span></p>
                                                        <p>Testing the comments</p>
                                                        <a href="#"> Reply</a>
                                                    </div>
                                                </li>

                                                <li class="children">
                                                    <ul>

                                                        <li class="clearfix">
                                                            <figure>
                                                                <a href="#"><img src="http://placehold.it/76x75" alt="user-img"></a>
                                                            </figure>
                                                            <div>
                                                                <p><a href="#">Jhon J Doe</a> <span>March 25, 2013</span></p>
                                                                <p>Testing the comments</p>
                                                                <a href="#"> Reply</a>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </li>

                                            </ul>

                                        </li>

                                        <li class="clearfix">
                                            <figure>
                                                <a href="#"><img src="http://placehold.it/76x75" alt="user-img"></a>
                                            </figure>
                                            <div>
                                                <p><a href="#">Jhon J Doe</a> <span>March 25, 2013</span></p>
                                                <p>Testing the comments</p>
                                                <a href="#"> Reply</a>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                                <!--COMMENTS-->

                                <div class="contact-form">
                                    <h3>Leave a Message</h3>
                                    <form>
                                        <fieldset>
                                            <input type="text" placeholder="name">
                                            <input type="text" placeholder="website">
                                            <input type="text" placeholder="e-mail">
                                        </fieldset>
                                        <textarea cols="30" rows="10"></textarea>
                                        <input type="submit" value="Add a Comment">
                                    </form>
                                </div>

                            </div>

                            <div class="span3">
                                <div id="sidebar2">

                                    <div class="widget">
                                        <h4>CATEGORIES</h4>
                                        <ul>
                                            <li><a href="#">Print design <span> (3)</span></a></li>
                                            <li><a href="#">User Interface <span> (7)</span></a></li>
                                            <li><a href="#">Photography <span>(1)</span></a></li>
                                            <li><a href="#">User Experience <span>(12)</span></a></li>
                                            <li><a href="#">Wallpapers <span>(32)</span></a></li>
                                            <li><a href="#">Futuristic Designs <span>(2)</span></a></li>
                                        </ul>
                                    </div>

                                    <div class="widget">
                                        <h4>TAGS</h4>
                                       <div class="tags">
                                           <a href="#">web design</a>
                                           <a href="#">Html</a>
                                           <a href="#">user interface</a>
                                           <a href="#">css</a>
                                           <a href="#">furniture</a>
                                           <a href="#">php</a>
                                           <a href="#">user interface</a>
                                       </div>
                                    </div>

                                    <div class="widget">
                                        <h4>Flickr Gallery</h4>
                                        <div class="flcker clearfix">
                                            <a href="#"><img src="http://placehold.it/65x67" alt=""/></a>
                                            <a href="#"><img src="http://placehold.it/65x67" alt=""/></a>
                                            <a href="#"><img src="http://placehold.it/65x67" alt=""/></a>
                                            <a href="#"><img src="http://placehold.it/65x67" alt=""/></a>
                                            <a href="#"><img src="http://placehold.it/65x67" alt=""/></a>
                                            <a href="#"><img src="http://placehold.it/65x67" alt=""/></a>
                                            <a href="#"><img src="http://placehold.it/65x67" alt=""/></a>
                                            <a href="#"><img src="http://placehold.it/65x67" alt=""/></a>
                                            <a href="#"><img src="http://placehold.it/65x67" alt=""/></a>
                                        </div>
                                    </div>

                                    <div class="widget">
                                        <h4>Latest Tweets</h4>
                                        <div class="tweets clearfix">
                                            <p><strong>@antiquefinderps</strong> Can you open up a ticket with our Support team - <a href="#">http://support.envato.com</a>.  They'll be able to help you out. Thanks! ^TK5 days ago <br/><span>5 days ago</span></p>
                                            <p><strong>@envato</strong> <br/> Freebies on AppStorm <a href="#">http://enva.to/WtPKgg</a> <br/><span>7 days ago</span></p>
                                            <p><strong>@pixelnourish </strong>Can't wait to see it :) <br/><span>7 days ago</span></p>
                                        </div>
                                    </div>

                                    <div class="widget">
                                        <h4>Video Widget</h4>
                                        <div class="clearfix">
                                            <img src="http://placehold.it/231x190" alt=""/>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- PRODUCT-OFFER -->

                <!-- FOOTER -->
                <div class="shipping-wrap">
                    <div class="container">
                        <div class="row">
                            <div class="span12">
                                <div class="shipping">
                                    <p><span>FREE SHIPPING </span> Offered by MAXSHOP - lorem ipsum dolor sit amet mauris accumsan vitate odio tellus</p>
                                    <a href="#" class="button">Learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer-wrap">
                    <div class="container">
                        <div class="row">

                            <div class="footer clearfix">

                                <div class="span3">
                                    <div class="widget">
                                        <h3>Customer Service</h3>
                                        <ul>
                                            <li><a href="#">About Us</a></li>
                                            <li><a href="#">Delivery Information</a></li>
                                            <li><a href="#">Privacy Policy</a></li>
                                            <li><a href="#">Terms & Conditions</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="span3">
                                    <div class="widget">
                                        <h3>Information</h3>
                                        <ul>
                                            <li><a href="#">About Us</a></li>
                                            <li><a href="#">Delivery Information</a></li>
                                            <li><a href="#">Privacy Policy</a></li>
                                            <li><a href="#">Terms & Conditions</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="span3">
                                    <div class="widget">
                                        <h3>My Account</h3>
                                        <ul>
                                            <li><a href="#">My Account</a></li>
                                            <li><a href="#">Order History</a></li>
                                            <li><a href="#">Wish List</a></li>
                                            <li><a href="#">Newsletter</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="span3">
                                    <div class="widget">
                                        <h3>Contact us</h3>
                                        <ul>
                                            <li>support@maxshop.com</li>
                                            <li>+38649 123 456 789 00</li>
                                            <li>Lorem ipsum address street no 24 b41</li>
                                        </ul>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <footer>
                                    <div class="span5">
                                        <p>© 2013 Maxshop Design, All Rights Reserved</p>
                                    </div>
                                    <div class="span2 back-top">
                                        <a href="#"> <img src="images/back.png" alt=""></a>
                                    </div>
                                    <div class="span5">
                                        <div class="social-icon">
                                            <a class="rss" href=""></a>
                                            <a class="twet" href=""></a>
                                            <a class="fb" href=""></a>
                                            <a class="google" href=""></a>
                                            <a class="pin" href=""> </a>
                                        </div>
                                    </div>
                                </footer>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- FOOTER -->


                <!-- Scripts -->
                <script src="js/jquery-1.9.1.min.js"></script>
                <script src="js/jquery-ui.js"></script>
                <script src="js/jquery.cycle.all.js"></script>
                <script src="js/modernizr.custom.17475.js"></script>
                <script src="js/jquery.elastislide.js"></script>
                <script src="js/jquery.carouFredSel-6.0.4-packed.js"></script>
                <script src="js/jquery.selectBox.js"></script>
                <script src="js/jquery.tooltipster.min.js"></script>
                <script src="js/jquery.prettyPhoto.js"></script>
                <script src="js/custom.js"></script>
		</body>
</html>