/*******************************************************
  Style Color
********************************************************/

$main_border:#ccc;
$linkColor			: #20bc5a;
$textColor          : #444;
$textBody           : #666;  
$background1		: #20bc5a;
$FontAwesome		: 'FontAwesome';
$font-custom		:'Arial';
$base-text-color	: #ccc;
$base-url			:'../images/color/green/';
$light-text-color	:#eee;
$base-body-color	:#eee;
$base-border-color	:#eee;
$main_border_color	:#eee;
$light-background	:#eee;
$table-background   :#eee;