/*----------------------------------
*  -----------Target IE 9 and HIGHER -----------------
*---------------------------*/

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    #sosearchpro.so-search .select_category select{width: 120px;}
     .icon-select:after{display: none;}
    .block-cart .shopping_cart{min-width: 154px;}
} 