@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import 'bourbon/bourbon';
@import "color/orange";


// --* Module Templates *------------------
// ----------------------------------------
/*   1.HD devices Desktops     	  ( Devices > 1450px)
 *   1.Large devices Desktops     ( Devices >1200px)
 *   2.Medium devices Desktops     (992px > Devices > 1199px)
 *   3.Small devices Tablets      (991px > Devices > 768px)
 *   4.Extra small devices Phones ( Devices < 767px)
 */
 
/* 1.HD devices Desktops  
================================================== */
@media (min-width: 1450px) {
    @-moz-document url-prefix() {
        #thumb-slider .owl2-carousel .owl2-stage-outer{margin: 0 -2px;}
    }
}

/* 2.Large devices Desktops 
================================================== */
@media (min-width: $screen-lg-min) {
     .container{width:1200px}
     .navbar-logo{margin-top: 5px;}
    div.container-slider div.products-list.grid .product-layout .product-item-container{min-height: 287px;
        .right-block{margin-top: 10px;}
    }
    
    #header .header-center.center .header-center-right{margin-top: 10px;}
     .shopping_cart .table > tbody > tr > td:first-child{width: 56px; height: 56px;
        img{width: 100%;}
    }
    #so-slideshow .slideshow{min-height: 432px;}
}
@media (max-width: 991px){
    .so-megamenu ul.megamenu > li{border-left: 0; border-right: 0;}
    .megamenu-wrapper{max-height: 100%;}
   .rtl{
     //-----RTL Language---------
    .megamenu-wrapper{
        #remove-megamenu{text-align: left;}
    }
   }
   
}

/* 3.Medium devices Desktops 
================================================== */
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    
    /*--------------------HEADER ----------------*/
    .navbar-search #search input{width: 92%;}
    #sosearchpro.search-pro{width: 57%;}
	
     /*------------------ BREADCRUM ---------------*/
    
    .shopping_cart{
        .btn-shopping-cart{padding: 0; min-width: 120px;
            .text-shopping-cart{width: auto; padding: 0 5px;}
        }
        a.top_cart .handle{width: 26px;}
        &:after{left: -7px;}
    }
    
    //------------------MAIN MENU -------------------
    #menu.navbar{padding: 0;}
    .navbar-collapse.collapse {display: block!important;height: auto!important; padding-bottom: 0;overflow: visible!important; padding: 0;}
    .common-home .sidebar-menu .box-category-menu{
        >ul{transform: scale(0);}
        &:hover >ul{transform: scale(1);}
    } 
    .sidebar-menu .so-vertical-menu .cat-title{font-size: 13px;}
    .so-megamenu .horizontal{
        .item-style2{
            .sub-menu{
                .content > .row > .col-sm-8{width: 100%;}
                .content > .row > .col-sm-4{width: 100%;}
            }
        }
        
    }
    //-----CART ---------------

    /*------------CUSTOM HTML ---------------*/
    .banner-wraps .m-banner img{width: 100%;}
    .accordion-section .accordion-section-title{line-height: 16px; padding-top: 5px; padding-bottom: 5px; padding-right: 5px;}
    .static-home-2{max-height: 222px;overflow: hidden;}
    	
    /*-----------PRODUCT LISTING ----------------*/
     .products-list .product-layout .button-group{
        .wishlist,.compare{width: 30px; padding: 6px;}
        .addToCart{padding: 7px 5px;}
    }
    .products-list .product-layout .left-block .countdown_box{width: auto;right: -10px;left: -10px;}
    /*------Style general ------*/
    .news-letter .block_content .input-box input{width: 200px;}
    .social_block ul.social-block li{margin: 0 5px;}
    
    //----------------FOOTER -------------------
    ul.payment-method li{margin-bottom: 6px;}
    //
    .module.cus-style-supper-cate .main-right{
        .banner-pre-text{
            height: auto;
        }
        .spcat-items-container.products-list.grid .product-layout .product-item-container .button-group button{opacity: 1;}
    }
    //RTL Language
    .rtl  {
        .so-megamenu .horizontal{
           
            .style-page{
                .sub-menu{
                    right: auto !important;
                }
            }
        }
        /*------------------ BREADCRUM ---------------*/
       
        //---------CUSTOM HTML-------
        .accordion-section .accordion-section-title{padding-right: 47px; padding-left: 5px;}
        
        //BLOG
        .blog-listitem .blog-item .itemBlogContent{
            .article-sub-title .article-date i{margin-right: 0; margin-left: 5px;}
            .blog-meta{float: right;
                > span.comment_count{float: left;}
                span.author{padding-right: 0;}
            }
        }
        
        //---PRODUCTS LISTING
        .products-list .product-layout .button-group .addToCart{font-size: 9px;}
        
        //---PRODUCT DETAIL-------------
        .left-content-product .row{margin: 0;}
        
        //------------------FOOTER -----------
        .box-footer:last-child{padding-left: 0;}
        ul.payment-method li{margin-left: 2px; margin-right: 0;}
    }//---End RTL ---
    
	
}

@media (max-width: 991px){
    .rtl{
        #menu .navbar-header .menu-btn {float: right;}
    }
}

/* 4.Small devices Tablets
================================================== */
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    
    /*-------HEADER-------*/
    #header .header-center{height: auto;}
    .header-top-right ul.top-link {
        float: left;
        > li > a{height: 34px; line-height: 34px;}
    }
    #header .header-center.center .header-center-right{margin-top: 12px;}
    .navbar-logo{text-align: center; margin: 8px 0;}
    .res .collapsed-block {
		.tabBlockTitle{margin:-27px 0 10px;
			.expander {   cursor: pointer;padding: 0 8px;font-size: 18px;text-decoration: none;}
		}
		
    }
    #sosearchpro.search-pro{padding-left: 15px; margin: 0;}
     /*------------------ BREADCRUM ---------------*/
        
    //---------CART--------------
    .shopping_cart{
        .btn-shopping-cart{height: 50px; line-height: 50px;
            .text-shopping-cart{margin: 13px 5px 0 10px;}
            a.top_cart .shopcart span.handle{background-position: 5px 16px;}
        }
        &:after{display: none;}
    } 
    
    //--------------MAIN MENU --------------
    .responsive ul.megamenu > li.click:before, .responsive ul.megamenu > li.hover.active:before{content: "";}
    .responsive.so-megamenu .navbar-default .megamenu-wrapper ul.megamenu > li.active:before, .responsive.so-megamenu .navbar-default .vertical-wrapper ul.megamenu > li.active:before{display: none;}
     .responsive ul.megamenu > li.click:before, .responsive ul.megamenu > li.hover.active:before{content: "";}
      .responsive ul.megamenu > li.click::before, .responsive ul.megamenu > li.hover::before{top: 0;}
    
   .header-bottom-left .so-vertical-menu ul.megamenu{width: auto;position: relative;background: none;}
   .so-megamenu .so-vertical-menu .vertical-wrapper ul.megamenu > li:hover{background: none !important}
   .header-bottom-left .so-vertical-menu .vertical-wrapper ul li > a{line-height: 38px;strong{color: #fff;}}
   .responsive.so-megamenu .navbar-default .megamenu-wrapper ul.megamenu > li.active:before, .responsive.so-megamenu .navbar-default .vertical-wrapper ul.megamenu > li.active:before{display: none;}
    .responsive.so-megamenu .navbar-default .megamenu-wrapper ul.megamenu .sub-menu .content .row, .responsive.so-megamenu .navbar-default .vertical-wrapper ul.megamenu .sub-menu .content .row{margin: 0;
        [class^=col]{padding: 0;}
    }
    .header-bottom-left .so-vertical-menu .vertical ul.megamenu > li.item-style3 .sub-menu .content{padding-right: 20px;}
    .responsive.so-megamenu .navbar-default {
        ul.megamenu > li > a{line-height: 28px;}
        .so-megamenu-active #remove-megamenu{font-size: 20px;color: #fff;}
        
        .vertical-wrapper, .megamenu-wrapper{border: none;border-radius: 0;background: #333;}
        div[class^=col-]{width: 100%;}
        ul.megamenu > li{
            padding: 3px 0;
            border-top: 1px solid rgba(255, 255, 255, 0.1);
        }
        ul.megamenu > li.click::before, ul.megamenu > li.hover::before{
            padding: 11px 15px !important;
            font-size: 14px;
            background: $background1;
            color: #fff;
           
        }
        .horizontal  ul.megamenu > li.active .close-menu{line-height: 50px}
        ul.megamenu > li.active {
            padding: 0;
            > a{ padding: 10px !important;background: #222 !important;color: #fff;}
            .close-menu{
                padding: 0;width: 41px;line-height: 60px;background: $background1;
                &:before{
                    color: #fff;
                    font-size: 12px;
                    line-height: 18px;;
                }
            }
        }
       .navbar-default .horizontal .megamenu-wrapper ul.megamenu li .sub-menu .content{box-shadow: none;border: 1px solid #eee;}
    }

    .navbar-default .vertical , .navbar-default .horizontal{
        
        .navbar-toggle{
            height: 39px;
            margin: 6px 0 0 ;
            color: #fff;
            border-radius: 0;
            border: 1px solid $linkColor;
            background: $background1;
            .icon-bar{
                background: #fff;
               
            }
        }
        .megamenu-wrapper{
            background: #333;
             ul.megamenu > li{
                    &.active > a{padding: 5px 10px;}
                    > a{
                    color: #fff;
                    padding: 5px 0;
                    font-size: 14px;
                    strong{color: #fff;}
                    &:hover{
                        color: $linkColor;
                    }
                }
            }
            ul.megamenu li .sub-menu .content .title-submenu{padding: 0;margin: 0;border: none;}
        }
        .features-menu{
            .column{
                &.layout-color a{display: inline-block;}
                a{margin: 0 0 30px;display: block}
            }
        }
    }
    //--------SLIDESHOW-------------------
    #yt_header_right{padding: 0 15px;}
    
    /*----------CONTENT ---------*/
    .common-home #content{
        .row{margin: 0;}
    }
    
    /*--------------------MOD-------------------*/
    //------------SO Category slider------------
    div.container-slider .item-sub-cat{background: #525252 url("../images/icon/btn-menu-mobile.png") no-repeat scroll center center; right: 10px;top: 1px;cursor: pointer;height: 27px; position: absolute; width: 35px; display: inline-block; float: right;
        ul{background-color: #fff;border: 1px solid #ddd; display: none; padding: 10px 0;position: absolute; right: 0; top: 100%; width: 150px; z-index: 9999; margin: 0;
            li{display: block; float: none; margin-left: 5px; padding: 0 5px; 
                
                a{padding: 0; text-transform: capitalize; white-space: normal; border: 0;}
            }
        }
        &:hover ul{display: block;}
    }
     div.container-slider{
        .categoryslider-content{border-color: transparent;}
        .products-list.grid .product-layout .product-item-container{border-color: #ddd;
            .button-group button{opacity: 1 !important;}
        }
    }
    //Supper category
    .module.cus-style-supper-cate {
        .so-sp-cat .spcat-tabs-container .spcat-tabs{position: static}
        .main-left{
            width: 35%;
           .hot-category .category-wrap-cat .slider{min-height: 324px;}
        }
        .main-right{
            width: 65%;
            .banner-pre-text{display: none;}
            .spcat-items-container{
                &.show-pre .ltabs-items-inner .ltabs-item{
                    width: 50%;
                    &:nth-child(1){
                        position: static;
                        width: 50%;
                    }
                }
                .ltabs-items-inner .ltabs-item{width: 50%;}
            }
        }
    }
    /*----------------------- CUSTOM HTML --------------------*/
    .accordion-section .accordion-section-title{line-height: 16px; padding-top: 5px; padding-bottom: 5px; padding-right: 5px;}
    
    //---PAGES-----------
    div.yt-pricing .style2.column:last-child{padding-right: 15px;}

    /*---------------PRODUCT LISTING -------------*/
     div.products-list.grid .product-layout .product-item-container .button-group button{opacity: 1 !important;}
    .products-list .product-layout .button-group{
        .wishlist,.compare{width: 30px; padding: 6px;}
        .addToCart{padding: 7px 5px;}
    }
    .products-list .product-layout .button-group{
        .wishlist,.compare{width: 30px; padding: 6px;}
        .addToCart{padding: 7px 5px;}
    }
    .short-by-show{ text-align: center; margin-bottom: 15px; margin-top: 7px;
        .short-by{float: none;
            select#input-sort{width: 100px;}
        }
    } 
    .product-filter .box-pagination{ text-align: center;}
    .products-list.grid .product-layout .product-item-container{min-height: 200px;}
    /*------------PRODUCT DETAIL ----------------*/

    .thumb-vertical-outer span.view_scroll_spacer a.prev{left: 34px;}
    .thumb-vertical-outer span.view_scroll_spacer a.next{left: 30px;}
    .left-content-product .content-product-right .box-info-product .add-to-links {width: 100%; float: left; margin-top: 10px;}
    .producttab .tabsslider .nav-tabs li{margin-bottom: 0; width: 100%;}
    .content-product-left{margin: 0 0 20px;}
    /*---------------BLOG -------------*/
    div.blog-item .itemBlogImg{float: none;margin: 0 0 10px;
        .article-image{float: left; margin-bottom: 30px;}
        a{float: none;}
    }
     .blog-listitem .blog-item .itemBlogContent{padding: 0;
        .article-description{text-align: justify;}
        
        .blog-meta{
            > span.comment_count{float: left;}
            span.author{padding-right: 0;}
        }
    }
    
    /*------Style About us ------*/
	.about-us{
        .about-content{
            .title strong{font-size: 20px;}
            .wellcomeshop .media-body{overflow: visible; float: left; margin-top: 20px; width: 100%;}
            .ourmember.page-heading .pre-text{text-align: center; padding: 0;}
            
            
        }
    } 
	.about-us .owl-dots{left: 43%;}
    
    /*----------------- FOOTER ---------------*/
    .footer-navbar .box-account {clear: both;}
    .footer-top{height: auto; padding: 10px 0;
        .social_block{text-align: center; height: 70px;
            ul{display: inline-block;}
        }
        .news-letter .block_content .input-box input{width: 200px;}
    }
    .footer-navbar{
        .box-footer{border: 0;}
        .box-account{clear: inherit;}
    } 
    
	//RTL Languae
	.rtl {
        
        /*------------------ BREADCRUM ---------------*/
     
        //----CART--------
        .shopping_cart:after{left: inherit; right: -42px;}
        
        //---------CUSTOM HTML-------
        .accordion-section .accordion-section-title{padding-right: 47px; padding-left: 5px;}
        
        //-------Category slider ------
        div.container-slider .item-sub-cat{left: 10px; right: inherit;
            ul{left: 0; right: inherit;}
        }
        
         //------------PRODUCT LISTING
        
        .products-list{
            .product-layout .button-group .addToCart{font-size: 9px; position: relative; top: -2px;}
        } 
        
        //---PRODUCT DETAIL-------------
        .left-content-product .row{margin: 0;}
        .left-content-product .content-product-right .box-info-product .add-to-links li.wishlist a{margin-right: 0;}
        /*----About us -------------*/
        .about-us{padding-right: 10px;
             .about-us .owl-dots{left: inherit; right: 44%;}
             .first{float: right;}
             .title strong{padding: 0 0 0 15px;}
             .image{float: right; margin-left: 30px; margin-right: 0;}
             .about-content .media-left{float: right; margin-right: 0; margin-left: 20px;}
        }
        /*---------------BLOG -------------*/
		div.blog-item .itemBlogImg{float: none;margin: 0 0 10px;
			a{float: right;}
		}

     }//----END RTL -----
}
/* 5.Extra small devices Phones
================================================== */
@media (max-width: $screen-xs-max) {
    
    /*----------------------------- HEADER -----------------------*/
    #header{position: relative;
        .header-center{padding: 20px 0; height: auto;}
        .header-bottom-menu .navbar-toggle{float: left;}
        
    }
    .res .collapsed-block {
		.tabBlockTitle{
            margin: 0;
            padding: 2px 0;
            line-height: 32px;
			.expander {   cursor: pointer;padding: 0 8px;font-size: 18px;text-decoration: none;
                i{font-size: 12px;}
            }
		}
		.tabBlock {
            display: none;
            position: absolute;
            top: 100%;
            right: 0;
            background: #fff;
            box-shadow: 1px 2px 4px #ddd;
            z-index: 99;
            width: 100%;
            padding: 0 15px;
            .top-link{
                width: 50%;
                float: right;
                margin-bottom: 0;
                > li{width: 50%;float: right;text-align: center;&.account{border-left: 2px solid #ddd;}}
            }
            .form-group {width: 25%;float: right;margin: 0;}
        }
    }
    .res .collapsed-block{
        #TabBlock-search{
            top: 50px;
            padding-bottom: 10px;
        }
    }
    .header-center{
        position: static;
        .header_search{position: static;}
        .tabBlockTitle.dropdow-search{
            position: absolute;
            top: 0;
            left: 15px;
            z-index: 999;
            
        }
    }
    .navbar-logo{text-align: center; margin-bottom: 20px; }
    #so-slideshow .slideshow .owl2-controls .owl2-nav div{top: 40.5%;}
    
    
    .shopping_cart{padding: 0 15px; text-align: center; background: transparent;
        .btn-shopping-cart{width: auto; margin: 0 auto; margin-top: 5px;
            .text-shopping-cart{float: none;}
        }
        .shoppingcart-box{min-width: 290px;}
        .shopcart > *{display: inline-block;}
        .handle {display: none;}
        &:after{display: none;}
        a.top_cart .shopcart .title{float: none;}
    }
    #content{position: relative; overflow: hidden;}
    .header-top{min-height: 34px; background-color: #eee;
        .header-top-right ul.top-link{float: left;width: 100%; margin-bottom: 10px;
            
        }
        .languages-block,.currencies-block {float: left;}
        .languages-block{margin-right: 4px; border-left: 0; border-right: 1px solid #ddd;}
    }
    .header-top-right{float: right; background-color: #eee; margin-bottom: 20px; position: relative; z-index: 999;}
    .res .collapsed-block {
        .tabBlockTitle{margin:6px 0px;line-height:20px; background-color: #eee;
          .expander {cursor: pointer;padding: 0 8px;font-size: 18px;font-family: Verdana, Arial, Helvetica, sans-serif;text-decoration: none;}
		}
		.tabBlock {display: none;}
    }
    #content{position: relative; overflow: hidden;}

    /*-------------BLOCK SEARCH --------------*/
    #sosearchpro .dropdown-menu{width: 100%;}
    #sosearchpro.search-pro{width: 100%; margin: 0 0 10px; padding: 0 15px;}
     
    /*----------------BLOCK MAIN MENU -------*/
    .so-megamenu ul.megamenu > li{border-left: 0; border-right: 0;}
     .responsive ul.megamenu > li.click:before, .responsive ul.megamenu > li.hover.active:before{content: "";}
     .responsive ul.megamenu > li.click::before, .responsive ul.megamenu > li.hover::before{top: 0;}
    
    .header-bottom-left .so-vertical-menu ul.megamenu{width: auto;position: relative;background: none;}
   .so-megamenu .so-vertical-menu .vertical-wrapper ul.megamenu > li:hover{background: none !important}
   .header-bottom-left .so-vertical-menu .vertical-wrapper ul li > a{line-height: 38px;strong{color: #fff;}}
    .responsive.so-megamenu .navbar-default {
        .so-megamenu-active #remove-megamenu{font-size: 20px;color: #fff;}
        ul.megamenu > li > a{line-height: 28px;}
        .vertical-wrapper, .megamenu-wrapper{border: none;border-radius: 0;background: #333;}
        div[class^=col-]{width: 100%;}
        ul.megamenu > li{
            padding: 3px 0;
            border-top: 1px solid rgba(255, 255, 255, 0.1);
        }
        ul.megamenu > li.click::before, ul.megamenu > li.hover::before{
            padding: 11px 15px !important;
            font-size: 14px;
            background: $background1;
            color: #fff;
           
        }
        .horizontal  ul.megamenu > li.active .close-menu{line-height: 50px}
        ul.megamenu > li.active {
            padding: 0;
            > a{ padding: 10px !important;background: #222 !important;color: #fff;}
            .close-menu{
                padding: 0;width: 41px;line-height: 60px;background: $background1;
                &:before{
                    color: #fff;
                    font-size: 12px;
                    line-height: 18px;;
                }
            }
        }
       .navbar-default .horizontal .megamenu-wrapper ul.megamenu li .sub-menu .content{box-shadow: none;border: 1px solid #eee;}
    }

    .navbar-default .vertical , .navbar-default .horizontal{
        
        .navbar-toggle{
            margin: 10px 0 0 ;
            padding: 6px;
            color: #fff;
            border-radius: 0;
            border: 1px solid $linkColor;
            background: $background1;
            .icon-bar{
                background: #fff;
               
            }
        }
        .megamenu-wrapper{
            background: #333;
             ul.megamenu > li{
                    &.active > a{padding: 5px 10px;}
                    > a{
                    color: #fff;
                    padding: 5px 0;
                    font-size: 14px;
                    strong{color: #fff;}
                    &:hover{
                        color: $linkColor;
                    }
                }
            }
            ul.megamenu li .sub-menu .content .title-submenu{padding: 0;margin: 0;border: none;}
        }
        .features-menu{
            .column{
                &.layout-color a{display: inline-block;}
                a{margin: 0 0 30px;display: block}
            }
        }
    }
    .responsive.so-megamenu .navbar-default .megamenu-wrapper ul.megamenu > li.active::before, .responsive.so-megamenu .navbar-default .vertical-wrapper ul.megamenu > li.active::before{display: none;}
    /*------------------ BREADCRUM ---------------*/
   
    .breadcrumb li{margin-bottom: 5px;}
    #menu.navbar{margin: 0;}
   
    #sosearchpro .dropdown-menu{width: 100%;}

    /*----------------- BLOCK SLIDESHOW ---------------------*/
    
    #so-slideshow{width: 100%;
        .slideshow{height: auto;}
        .slideshow img{height: auto;}
    }
    .slider-container .htmlcontent-home{display: none;}
    
    /*----------------- BLOCK SPOTLIGHT ---------------------*/
    .breadcrumb li{margin: 5px 0;}
    
    /*--------------------MOD-------------------*/
    .banner-middle{display: none;}
    
    //------------SO Category slider------------
    div.container-slider{
        .categoryslider-content{border-color: transparent;}
        .item-sub-cat{background: #525252 url("../images/icon/btn-menu-mobile.png") no-repeat scroll center center; right: 10px;top: 1px;cursor: pointer;height: 27px; position: absolute; width: 35px; display: inline-block; float: right;
            ul{background-color: #fff;border: 1px solid #ddd; display: none; padding: 10px 0;position: absolute; right: 0; top: 100%; width: 150px; z-index: 9999; margin: 0;
                li{display: block; float: none; margin-left: 5px; padding: 0 5px; 
                    
                    a{padding: 0; text-transform: capitalize; white-space: normal; border: 0;}
                }
            }
            &:hover ul{display: block;}
        }
        .products-list.grid .product-layout .product-item-container{border: 1px solid #ddd;}
        
    } 
    //Supper category
    .module.cus-style-supper-cate .so-sp-cat .spcat-tabs-container .spcat-tabs{position: static;}
    .module.cus-style-supper-cate {
        .main-left{
            width: 35%;
           .hot-category .category-wrap-cat .slider{min-height: 292px;}
        }
        .main-right{
            width: 65%;
            .banner-pre-text{display: none;}
            .spcat-items-container{
                &.show-pre .ltabs-items-inner .ltabs-item{
                    width: 50%;
                    &:nth-child(1){
                        position: static;
                        width: 50%;
                    }
                }
                .ltabs-items-inner .ltabs-item{width: 50%;}
            }
        }
    }
   //-------Box Cart--------------
    .shopping_cart .shoppingcart-box{
        p.text-right{line-height: 18px;}
        a.btn{display: inline-block; width: 45%;}
        .table{margin: 0 0 3px;}
    } 
    .product-compare .overflow_auto{overflow: auto;}
    
   /*----------------- FOOTER ---------------*/
   .footer-top{height: auto; padding: 10px 0;
        .social_block{text-align: center; height: 70px; background: transparent;
            ul{display: inline-block;}
        }
        .news-letter{float: none; padding: 0 15px; text-align: center;
            .title-block{margin: 0;}
            .block_content{float: none; margin: 15px 0;
                .input-box input{width: 410px;}
            } 
        } 
    }
   
   .box-footer{min-height: 107px; margin-bottom: 20px;
        .module h3.modtitle{height: auto;}
   }
   ul.list-services li{margin-bottom: 15px;}
   .contact-address{margin-top: 10px;}
    .footer-navbar .box-account {clear: both;}
    
    .footer-navbar{
        .box-footer{border: 0;}
        
    } 
    
    .table-responsive .btn-block .quaility{width: 50px; text-align: center; padding: 0;}
    .shopping_cart .table > tbody > tr > td.text-center{display: none;}
    
    
    //-------------------PRODUCT LIST ----------------------
    div.products-list.grid .product-layout .product-item-container{
        .button-group button{opacity: 1 !important;}
        .left-block .product-image-container.second_img .img_0{display: none;}
    }
    div.products-list .product-layout{width: 50%;}
    .short-by-show .form-group{margin: 0;
        &:after{
            display: none;
        }
    }
    /*----------------- PRODUCT DETAIL ---------------------*/
    .producttab .tabsslider .nav-tabs li{float: none;}
    .thumb-vertical-outer{padding-left:0;}
   div.left-content-product .content-product-right .box-info-product .add-to-links li.wishlist a{margin-left: 6px;}
    .content-product-right .title-product{margin: 10px 0;}
    .box-pagination{clear: both;}
    
    .up-sell-product .so-basic-product .item-wrap{box-shadow: none;
        &.products-list.grid .product-layout .product-item-container{border-color: #ddd;}
    }
    /*---------------BLOG -------------*/
     div.blog-item .itemBlogImg{float: none;margin: 0 0 10px;
        .article-image{float: left; margin-bottom: 30px;}
        a{float: none;}
    }
    .blog-listitem .blog-item .itemBlogContent{padding: 0; float: left;
        .article-description{text-align: justify;}
    }
    //---------------BONUS PAGE---------------
    //-------ABOUT US------------------
    .about-us .about-content .media-left{float: none;}
    .about-us .about-content{
        .title strong{top: -9px;}
        .media-left{margin-bottom: 20px;}
        .whychooseus .title strong{top: 12px;}
        .ourmember.page-heading .pre-text{padding: 0 10px;}
        .ourmember.page-heading .title strong{top: 13px; left: 38%;}

    }
    .our-team-content .owl2-carousel .owl2-item img{width: 100%;}
   //
    .yt-pricing .column{
        margin: 0 0 20px;
    }
    .about-us .owl2-theme .owl2-controls .owl2-dots{
        .owl2-dot span{width: 15px; height: 15px;}
    }
   
    div ul.yt-accordion li.accordion-group h3.accordion-heading > span{font-size: 13px;}
    //
    .up-sell-product .so-basic-product .item-wrap{border: none;}
    //------------BLOCK GALLERY -------------
    .yt-gallery ul.tabnav li{margin-bottom: 5px;}
    
    //--------RTL LANGUAGE----------------
    .rtl{
        #header .header-center-right{left: auto;right: 10px;}
        #header .header-top .languages-block, #header .header-top .currencies-block{float: right;}
        #header .header-top .languages-block{border-left: 1px solid #ddd; border-right: 0;}
       
       #header .header-bottom-menu .navbar-toggle{float: right;}
       .header-center .tabBlockTitle.dropdow-search{left: auto;right: 15px;}
        /*------------------ BREADCRUM ---------------*/
       
        .table-responsive{overflow: overlay !important; direction: ltr;
            .btn-block .quaility{width: 50px; text-align: center; padding: 0;}
        }
        //---------CART
        .shopping_cart a.top_cart{text-align: left;}
        
        &.product-compare .overflow_auto{overflow: auto; direction: ltr; text-align: right;}
      
        //-------------PRODUCT DETAIL-----------------
        .product-detail .left-content-product .content-product-right .box-info-product .add-to-links ul li.wishlist a{margin-right: 6px;}
        //-------Category slider ------
        div.container-slider .item-sub-cat{left: 10px; right: inherit;
            ul{left: 0; right: inherit;}
        }
        /*----About us -------------*/
       .about-us .about-content .first{float: none;}
       .about-us{padding-right: 10px;
            .owl-dots{left: inherit; right: 32%;}
            .first{float: right;}
            .title strong{padding: 0 0 0 15px;}
            .image{float: right; margin-left: 30px; margin-right: 0;}
       }
       .about-us .about-content .whychooseus .title strong{top: -10px;}
	   .thumb-vertical-outer {padding: 0 0 0 10px;}
        
        //-------BLOG
        .blog-listitem .blog-item .itemBlogContent{
            .article-sub-title .article-date i{margin-right: 0; margin-left: 5px;}
            .blog-meta{float: right;
                > span.comment_count{float: left;}
                span.author{padding-right: 0;}
            }
        }
        //
        #sosearchpro .dropdown-menu .media-left{float: right;}
        //------------------FOOTER ---------------
        .news-letter .block_content{float: right;}
    }//-----------END RTL--------------------

}

/* 5.Small devices Phones
================================================== */
@media (max-width: 479px){
    //
    #sosearchpro.so-search .autosearch-input{
        border: none;
    }
    #sosearchpro .dropdown-menu .media-left{float: none;}
    //
    .shopping_cart .btn-shopping-cart .text-shopping-cart{line-height: 23px;height: 22px;}
    //
     .left-content-product .content-product-left #thumb-slider{display: none}
    //
    ul.yt-accordion li.accordion-group h3.accordion-heading{
        i{float: left;}
        >span{display: block !important;overflow: hidden;padding: 6px 12px !important;}
    }
    //
    .account-register .buttons input.btn{margin-top: 10px;}
    //
    .block-cart .shopping_cart{
        .shoppingcart-box{
            &:before{left: 90%;}
            a.btn{width: 42%;margin: 0 3px;}
        }
    }
    //
    #header .header-center{
        padding: 20px 0 0;
        .navbar-logo{
            margin:  5px 0 0;
        }
    }
	.res .collapsed-block {
		
		.tabBlock {
            .top-link{
                width: 100%;
                float: right;
                margin-bottom: 0;
                border-bottom: 1px solid #ddd;
                > li{width: 50%;float: right;text-align: center;&.account{border-left: 1px solid #ddd;border-right: 1px solid #ddd;}}
            }
            .form-group {width: 50%;float: right;margin: 0;
                &.languages-block{
                    border-width: 0 0 0 1px;
                    border-color: #ddd;
                    border-style: solid;
                }
            }
        }
    }
    //
     //
    .module.cus-style-supper-cate .so-sp-cat .spcat-tabs-container .spcat-tabs{padding: 0;
        li{
            display: block;
            .spcat-tab-label{
                font-size: 12px !important;
                padding: 6px 24px;
                border-bottom: 1px solid #eee;
            }
            &:last-child{
                .spcat-tab-label{
                    border: none;
                }
            }
        }
    }
    //Supper category
    .module.cus-style-supper-cate {
        .main-left{
            width: 100%;
            .banner-post-text img{width: 100%;}
           .hot-category .category-wrap-cat .slider{min-height: auto;}
           
        }
        .so-sp-cat .spcat-tabs-container .spcat-tabs{
            top: 40px;
        }
        .main-right{
            width: 100%;
            .banner-pre-text{display: none;}
             .spcat-items-container.show-pre .ltabs-items-inner .ltabs-item{
                width: 100%;
                &:nth-child(1){
                    position: static;
                    width: 100%;
                }
            }
            .spcat-items-container .ltabs-items-inner .ltabs-item{width: 100%;}
            .spcat-items-container.products-list.grid .product-layout .product-item-container{border-width: 1px;&:hover{border-width: 1px;}}
        }
    }
    #header .header-top .header-top-right ul.top-link > li > a{padding: 0 5px;}
    .shopping_cart{padding: 0;
        .btn-shopping-cart{
            padding: 0;
        }
    }
    //Breadcrumb
    .breadcrumb li{margin-bottom: 5px;}
     #sosearchpro.so-search .select_category{display: none;} 
    //---------ABOUT US
        .about-us .owl2-theme .owl2-controls .owl2-dots{left: 0;}
        .about-us .about-content .ourmember.page-heading .title strong{left: 26%;}
        
    #so-slideshow .slideshow .owl2-controls .owl2-nav div{top: 37%;}
    
    //----------- other pages
   .checkout-cart input.quaility{width: 50px;}
    //
     div.products-list .product-layout{width: 100%;}
     
   //----------------- FOOTER ---------------
    .footer-top .news-letter {
        .block_content{
            .input-box input{width: 250px; margin-bottom: 10px;padding-right: 80px;}
            .subcribe{
                position: absolute;right: 0;
            }
        }
        
    }
       .contact-address{
           li{padding: 0 0 5px 41px;line-height: 18px;}
           span{margin-right: 10px;height: 30px;top: 4px;}
            > li:nth-child(2) {padding-top: 7px;
               span{margin-top: -1px;}
            }
           > li:last-child{padding-top: 8px;
               span{margin-top: 7px;}
           }
           
       }
    .box-footer{min-height: 150px;}
    //
    .yt-pricing .column{
        margin: 0 0 20px;
    }
    //
    .about-image-slider .owl2-stage-outer{
        min-height: 180px;
    }
    //
    .static-home-2 > ul > li{
        display: none;
        &.col-s-1{
            width: 100%;
            display: block;
            a:first-child{margin: 0 0 20px;}
        }
    }
    //RTL Language
    .rtl {
        .block-cart .shopping_cart .shoppingcart-box:before{left: auto;right: 90%;}
        .footer-top .news-letter {
            .block_content{
                .input-box input{padding-right: 0;padding-left: 80px;}
                .subcribe{
                    right: auto;
                    left: 0;
                }
            }
            
        }
        //
        #sosearchpro .dropdown-menu .media-left{float: none;}
        //
        ul.yt-accordion li.accordion-group h3.accordion-heading{
            i{float: right;}
           
        }
        //----------BLOG  ------------
        div.article-info .article-sub-title span{
            &.article-comment{padding-right: 0; padding-left: 11px; border-left: 0;}
        }
        //------PRODUCT DETAIL---------------
         .product-detail .left-content-product .content-product-right .box-info-product .add-to-links ul {clear: both; display: inline-block; width: 100%; margin-top: 10px;
            li.wishlist a{margin-right: 0;}
         }
        
        //----------------- FOOTER ---------------
        .contact-address li{padding: 0 41px 5px 0;
            span{margin-right: 0;}
        }
        
    }
	
}



