
/* ************************************************************************************************
GENERAL STYLE
************************************************************************************************ */
body {
	color: #666;
	font-size: 12px;
	line-height: 22px;
	overflow-x: hidden;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit; 
}
h1, h2, h3, h4, h5, h6 {
	 margin-top: 0;
}
/* default font size */
.fa {
	font-size: 13px;
}
/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
}
h2 {
	font-size: 20px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
	
}
option { padding:2px 5px; border-width:1px;}

.alert ol li {
	list-style-type:decimal;
	margin:0 0 5px 15px;	
}
html {
	width: 100%;
	outline: 0!important;
}
img { max-width:100%;}
.align-center{display:table;margin:0 auto;}

.text-danger{color: #fff; float: left; background-color: #a94442; padding: 0 5px; margin: 5px 0;}

a{color: $textBody;
	&:hover{color: $linkColor;}
	&:focus{color: $textBody;}
}

a, a:visited, a:active, a:link, a:focus {cursor: pointer;text-decoration: none;outline: none; }

.btn.active, .btn:active{box-shadow: none !important;}
.input-group-btn > .btn {border-left:none;border-top-left-radius:0;border-bottom-left-radius:0;	}
ol {counter-reset: item;list-style-type: none;margin: 0 0 0 15px;}

sup {color: #F00;font-size: 100%;top: -4px;}
div.tooltip{
	&.top{margin-top: -5px; top:-80px; }
	.tooltip-inner{border-radius: 0;}
}
em {font-style: normal;}
.fancybox-outer, .fancybox-inner {text-align: center;
	.wishlist_product_view {margin-bottom: 15px;}
}

.list-inline{display: inline-block;}

/* ************************************************************************************************
MAIN STYLE STORE
************************************************************************************************ */


// STYLE SELECTBOX
.selector {display: inline-block;position: relative;height: 30px;padding-right: 30px;
	span {display: none;}
	select {position: absolute;height: 100%;width: 100%;border-radius: 0;box-shadow: none;top: 0px;left: 0px;font-size: 13px;color: #999;padding: 5px 7px;border: solid 1px #e6e6e6;
		&:focus {box-shadow: none;outline: none;border-color: #e6e6e6;}
	}
	&:after {content: "\f0d7";margin: 0;height: 28px;width: 28px;text-align: center;color: #666;position: absolute;top: 1px;right: 1px;background: #fff;pointer-events:none;line-height: 25px;font-size: 12px;}
}
.col-lg-12{width:100%;}
/* ************************************************************************************************
	BUTTONS
************************************************************************************************ */
a.btn-default,.button, input.button_mini, input.button_small, input.button, input.button_large,
input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled,
input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large, input.exclusive_mini_disabled,
input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled, a.button_mini, a.button_small,
a.button, a.button_large, a.exclusive_mini, a.exclusive_small, a.exclusive, a.exclusive_large, span.button_mini,
span.button_small, span.button, span.button_large, span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large,
input[type="submit"], input[type="button"] {
	
	
}

.margin-zero{margin:0;}


/* ************************************************************************************************
	FORM
************************************************************************************************ */
legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 12px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 12px; border-radius: 0; 
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}
.dropdown-menu{font-size: inherit;}
textarea, input[type="text"], input[type="password"], input[type="datetime"],
input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"],
input[type="week"], input[type="number"],input[type="email"], input[type="url"], input[type="search"],
input[type="tel"], input[type="color"], .uneditable-input{
}
.btn-default.active, .btn-default.focus, .btn-default:active,
.btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default{color: #fff; background: $background1; border-color: $linkColor;}
.btn-primary,
.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open>.dropdown-toggle.btn-primary{background-color: $background1; border-color: $linkColor;
    &:hover{background-color: #444; border-color: #444;}
}

.submit {margin: 1em 0;}

select, textarea {
	color: #666;
}
textarea {
	height: auto;
	resize: none;
}

.alert-danger,
.alert-success{display: inline-block; width: 100%; border-radius: 0;} 

/* ************************************************************************************************
TABLE
************************************************************************************************ */
.table thead > tr > th{background: #eee;}


table.std th, table.std td {
	vertical-align: middle;
	border: $main_border;
	padding: 10px;
	text-align: center;
}
table.std th {
	white-space: nowrap;
	background: #f5f5f5;
}
table.std tfoot td {
	color: #333;
	text-align: right;
	white-space: nowrap;
}
 table.std {
	background: #fdfdfd;
	border-spacing: 0;
	vertical-align: middle;
	border: $main_border;
	width: 100%;
}
table th {
	border: $main_border;
	color: #7a7a7a;
	font-size: 13px;
	font-weight: bold;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
}

.delivery_option table td {
	text-align: center;
}
table tfoot td { text-align:right;}
table.table-bordered thead >*{background-color: rgba(51, 51, 51, 0.1); font-weight: bold;}
/* list group */
.list-group a {
    border: 1px solid #DDDDDD;
    color: #888888;
    padding: 8px 12px;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
    color: $linkColor;
    background-color: transparent; 
    text-shadow: none;
}
.no-margin{margin:0 !important;}
.sidebar-menu .box-category-menu{z-index:2;}
.label-mega {background:#ee3b27}

.carousel-inner>.item>a>img, .carousel-inner>.item>img,
.img-responsive, .thumbnail a>img, .thumbnail>img{margin: 0 auto;}

#button-review{margin-top: 12px;padding: 7px 12px;margin-right: 10px;background: gray;color: #fff;text-transform: capitalize;border-radius: 0;border-color: gray;
	&:hover{background: $background1; border-color: $linkColor;}
}
.product-search .checkbox-inline{display: block;}