.contact-form legend{color: #444;}
.contacts .info-contact .name-store h3{color: #444; padding: 9px 0px; margin-top: 0;}
.about-us .about-title{font-style: normal;}
div.yt-gallery .tabnav li.active span{background-color: $background1;}
.our-team-slider .owl2-stage-outer {min-height: 421px; display: block;}
.client-logo-slider .owl2-stage-outer{min-height: 89px; display: block;}
.about-image-slider .owl2-stage-outer{min-height: 355px; display: block;}