
/* ************************************************************************************************
		BLOCK HEADER 
************************************************************************************************ */
#header{margin-bottom: 30px;
    .header-top{height: 36px; border-bottom: 1px solid #ddd;
	.header-top-left{overflow: hidden; display: block; height: 36px;
	    //WELCOME MSG
	    .welcome-msg {margin-top: 7px; height: 22px; overflow: hidden; 
		    .label-msg {margin: 0;display: inline-block;position: relative;color: #fff; background: #e67e22; padding: 0px 10px;border-radius: 2px; line-height: 20px;
			    //&:after {content: "";height: 1px;width: 1px;border-style: solid;border-width: 5px;position: absolute;top: 5px;right: -10px;}
		    }
		    a {display: inline-block;margin: 0;padding: 0 6px; color: #333;}
		    .list-msg .label-msg, .list-msg a{font-family: 'Myriad Pro'; font-size: 12px;} 
	    }
	}
	.header-top-right{text-align:right;}
	
    }
    .header-center{padding: 12px 0 17px 0; height: 80px;
				&.center{
						.header-center-right{margin-top: 16px; }
				}
	
				&.left{
						.header-center-right{text-align: right; }
				}
				.phone-contact{ background: url("../images/icon/hot-line-icon.png") no-repeat left top; padding-left: 48px;float: right;
						h2{font-weight: bold; margin-bottom: 2px;font-size: 100%;margin: 0;color: #666; text-transform: uppercase;}
						p{margin: 0;}
				}
    
    }
    .header-bottom{background: #444;}
}


.navbar-welcome a {color: #0099ff;
    &:hover{color: $linkColor;}
}
.navbar-main-menu-outer{background:#333;margin-bottom: 30px;}
.common-home #content{margin-bottom: 0;}
#main-content,#content{margin-bottom: 30px;}
.header-top-right {display: inline-block;
	ul.top-link{list-style: none;margin:0; vertical-align:top;
		> li{padding: 0; display: inline-block; position: relative;float: left;list-style: outside none none; border-left: 1px solid #ddd;
		 >	a {display: block; padding: 0 13px; position: relative;height: 36px; line-height: 36px; color: $textBody; font-size: 12px;
			    &:before{font-family: 'FontAwesome'; margin-right: 7px;}
					span.fa-angle-down{position: relative; left: 5px;}
			}
			&.account > a:before{content: "\f007";}
			&.wishlist{
				a:before{content: "\f004"; }
			}
			&.checkout{
				a:before{content: "\f045";}
			}
			&.login{
				a:before{background-position: center -196px;}
			}
			&:hover{
				> a{color: $linkColor;}
				&.account a:before{background-position: center 1px;}
				&.wishlist{
				a:before{background-position: center -53px;}
			    }
			    &.checkout{
				a:before{background-position: center -109px}
			    }
			    &.login{
				    a:before{background-position: center -168px;}
			    }
			}
			ul.dropdown-link{position: absolute; background: #fff; box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3); left: 0; opacity: 0;
			padding: 0px 10px; top: 33px;  transition:top 0.3s ease 0s, opacity 0.3s ease 0s; width: 200px; z-index: -1; text-align: left;
			    li{display: block; border-left: 0;
				a{border-right: 0;display: block; padding: 5px 0 4px; border-bottom: solid 1px #efefef; font-size: 11px; line-height: 18px; color: $textBody;
				    &:hover{color: $linkColor;}
				    &:after{display: none;}
				}
				
				&:last-child a{border-bottom: 0;}
			    }
			}
			&.account:hover  {
			    ul.dropdown-link {top: 34px; z-index: 9999; opacity: 1; border-top: 1px solid rgba(200, 199, 199, 0.3);}
			}
		}
	}
}
/*========================HEADER SEARCH =================*/
.navbar-search{padding-right: 0; 
    #search{width: 100%;margin: 8px 0 0 0 ;padding: 0;display: inline-block;height: 34px; position: relative;
	   input{width: 100%;float: left; height: 34px;vertical-align: middle;margin: 0;padding: 0;border: 1px solid #ddd; border-right: none; border-radius: 0;box-sizing: border-box;font-size: 12px;font-weight: normal; padding-left: 15px;}
	   button{border: 0; padding: 0; position: absolute; right: 0; background: transparent;
		 span{float: left; width: 34px;height: 34px;margin: 0;padding: 0;font-size: 15px;cursor: pointer; color: $linkColor; position:relative;
		 &:before{content: "\f002"; font-family: FontAwesome; position: absolute; color: $linkColor; right: 10px; top: 8px;}
		 }
		 &:hover span:before{}
	   } 
    }
}

/************************************************************************************************* */
/* left blocks */


/* ************************************************************************************************
	BREADCRUMB
************************************************************************************************ */
.breadcrumb {background: transparent;border-radius: 0; display: block;padding: 0; min-height: 33px; position: relative;
    li{position: relative;line-height: 33px; margin-right: 3px;
				a{color: $textBody;}
				&:last-child a{color: $linkColor;}
				+li:before{content: "\f105"; font-family: fontawesome; color: #444; padding: 0 10px 0 5px;}
    }	
}


/*---------------------------BLOCK HEADER BOTTOM -----------------------*/

/*------- SPOTLIGHT ------------------*/


/*-----------FOOTER LINK -------------------*/

footer,footer a{
    color:inherit;
}
footer a:hover{
    color:#337ab7;
}


.footer-navbar{padding-bottom: 30px; padding-top: 30px; background-color: #eee;
    .module{
	  h3.modtitle{font-size: 18px;  border-bottom: 0;text-transform: uppercase; margin-bottom:0; margin-top: 0;
	   &:after{display: none;}
	  }
		.footer-logo{margin-bottom: 9px; margin-top: -5px;}
	  ul.menu{
	   li a{
		  &:before{content: "\f101";font-family: FontAwesome;margin-right: 5px;}
		  &:hover{color: $linkColor;}
	   }
	  }
    }
    
}
.box-footer{min-height: 200px; border-right: 1px solid #ddd;
        .module{margin: 0;}
        &.box-account, &.box-information{padding-left: 20px;
						li{line-height: 32px;}
				}
        &:last-child{border-right: 0; padding-left: 20px; }
}
ul.payment-method{padding-top: 25px; border-bottom: 0;
	li{display: inline-block; margin-right: 7px;
        img:hover{opacity: 0.8;}
  }
}
.collapsed-block.footer-links{
    .footer-directory-title{padding: 34px 0 21px;font-size: 91.6%;background: url("../images/line-bg.png") repeat-x top left; margin-top: 4px;}
    ul li a:hover{color: $linkColor;}
}
.footer-bottom-block {background: #ddd; padding: 10px 0;}
.contact-address{
    li{color: #444444;padding: 0 0 5px 25px;position: relative;z-index: 1;line-height: 18px;}
    span{font-size: 15px;left: 0px;margin-right: 10px;position: absolute;color: white; text-align: center;color: $linkColor;
	  
    }
     > li:nth-child(2) {padding-top: 7px;
	   span{margin-top: -1px;}
	}
    > li:last-child{padding-top: 8px;}
    a:hover{color: $linkColor;}
}

.footer-directory-title{
	
	.label-link{
		color: #444;
		font-weight:bold;
		padding-bottom: 5px;
		font-size: 11px;
	}
}
ul.footer-directory{
	list-style: outside none none;
	padding: 0;
	margin: 0;
	li{
		padding-bottom: 3px;
		h2{
			color: #444;
			display: inline-block;
			font-weight: bold;
			line-height: 22px;
			text-transform: uppercase;
			font-size: 11px;
			margin: 0; margin-right: 5px;
		}
		a{
			font-size: 11px;
		}
	}
}

.back-to-top{z-index: 999;}