ful.yt-accordion {
  margin: 0;
  list-style: none;
  padding: 0;
}
ul.yt-accordion li.accordion-group { margin-bottom: 1px;}
ul.yt-accordion li.accordion-group h3.accordion-heading {
  margin: 0;
  cursor: pointer;
  background-color: #f4f4f4;
}
ul.yt-accordion li.accordion-group h3.accordion-heading > span{
  padding: 11px 12px;
  font-size: 16px;
  display:inline-block;
}
ul.yt-accordion li.accordion-group h3.accordion-heading .fa {
    margin: 0px;
    font-family: verdana;
    font-size: 17px;
    width: 40px;
    height: 40px;
    background: #A0A0A0;
    color: white;
    text-align: center;
    line-height: 40px;
    vertical-align: top;
}
ul.yt-accordion li.accordion-group h3.accordion-heading .fa-plus-square:before{content: "+";}

ul.yt-accordion li.accordion-group h3.accordion-heading.active .fa-plus-square:before {content: "-";}
ul.yt-accordion li.accordion-group h3.accordion-heading:hover {color: white;background: #8E8E8E;}
ul.yt-accordion li.accordion-group h3.accordion-heading:hover .fa{background: #666;}
ul.yt-accordion li.accordion-group .accordion-inner {border: 1px solid #f4f4f4;  padding: 10px 15px;background: #E6E6E3;}
.yt-pricing{margin-top: 30px ; margin-bottom: 30px;}
.yt-pricing .style1 .price-table{margin-top:20px;padding:20px 0px; text-align:center;border: 1px solid rgba(0,0,0,0.15);border-radius: 5px;}
.yt-pricing .style1.pricing-money.block{margin-bottom: 20px;}
.yt-pricing .style1.column .pricing-basic {text-transform: uppercase;}
.yt-pricing .style1.column .pricing-money{padding: 10px;background: rgba(0,0,0,0.06);font-size: 16px;font-weight: 600;border-top: rgba(0,0,0,0.06) 1px solid;}
.yt-pricing .style1.column ul li{border-bottom: rgba(0,0,0,0.1) 1px solid; padding: 10px 15%; list-style: none;}
.yt-pricing .style1.column ul li:first-child{border-top: 1px solid rgba(0,0,0,0.1);}
.yt-pricing .style1.column .pricing-bottom{display: table;  width: 100% }
.yt-pricing .style1.column .pricing-bottom .btn{ margin:20px auto 0; padding: 8px 30px; border-radius: 3px; display: inline-block;text-transform: uppercase;}

.yt-pricing .style1.featured .price-table{ background: #666;border-color:rgba(0,0,0,0.15);color: #fff; margin-top: 0px;padding-bottom: 50px; position: relative;z-index: 2;}
.yt-pricing .style1.featured .price-table:before{content: "";position: absolute;z-index: 3;right: -4px;top: -4px;background: url('images/featured.png') no-repeat top right ;width: 70px;height: 69px;}
.yt-pricing .style1.column.featured li{border-bottom: rgba(0,0,0,0.1) 1px solid;}
.yt-pricing .style1.column.featured ul li:first-child{border-top: rgba(0,0,0,0.2) 1px solid;}
.yt-pricing .style1.column.featured .pricing-money{background: rgba(0,0,0,0.2);border-top: none;}
.yt-pricing .style1.column .pricing-featured{
  text-transform: uppercase;
  position: absolute;top: 10px; right: -38px;z-index: 15;
  transform: rotate(45deg);
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-moz-transform: rotate(45deg); width: 120px; text-align: center;}

.yt-pricing .style2.column .price-table { text-align: center; box-shadow: rgba(0,0,0,0.2) 0px 0px 8px;border-radius: 5px; margin-bottom: 20px;padding-left:0}
.yt-pricing .style2.column:last-child{padding-right:0}
.yt-pricing .style2.column.featured span.pricing-featured{background: #f00; padding: 5px; border-radius: 5px; display: inline-block;}
.yt-pricing .style2.column .pricing-basic{border-radius: 5px 5px 0 0; padding:15px 0px;    text-transform: uppercase;}
.yt-pricing .style2.column .pricing-basic h2{margin-bottom: 0px;}
.yt-pricing .style2.column .pricing-featured{text-transform: none;font-size: 13px}
.yt-pricing .style2.column .pricing-money{font-size: 20px; text-transform: uppercase; margin: 20px 0;}
.yt-pricing .style2.column .pricing-bottom {padding: 10px; border-radius: 5px 5px;}
.yt-pricing .style2.column .pricing-bottom a{display: inline-block; width: 100%; border-radius: 5px; padding: 15px 0; text-transform: uppercase;font-size: 20px;}
.yt-pricing .style2 ul {margin: 0 auto; padding: 0; width: 95%;}
.yt-pricing .style2 ul li{list-style: none; background: #f2f2f2; border: #e4e4e4 1px solid; border-top: none; padding: 10px 0px;}

.yt-pricing .style3.column .price-table{text-align: center; border:#ccc 1px solid; border-radius: 5px; margin-bottom: 10px;}
.yt-pricing .style3 ul {margin: 0 auto; width: 100%; padding:0}
.yt-pricing .style3 ul li{list-style: none; background: #f2f2f2; padding: 10px 0px; border-top: #ccc 1px solid}
.yt-pricing .style3 ul li:nth-child(2n){background: #DADADA}
.yt-pricing .style3.column .pricing-basic{margin: -1px;border-radius: 5px 5px 0 0; padding: 15px 0px;border-bottom: rgba(0,0,0,0.1) 1px solid;position: relative;z-index: 5;}
.yt-pricing .style3.column .pricing-basic h2{ margin: 0; text-transform: uppercase;}
.yt-pricing .style3.column .pricing-bottom{margin: -1px;position: relative;}
.yt-pricing .style3.column .pricing-money{margin: -1px; position: relative;}
.yt-pricing .style3.column .pricing-money h1{    font-size: 16px;display: inline-block;border-radius: 40px;margin: 10px auto;padding: 8px 20px;background-color: rgba(0,0,0,0.25); color: #fff;}
.yt-pricing .style3.column.featured span.pricing-featured{background: #bc201f; padding: 5px; border-radius: 5px; display: inline-block; margin-bottom: 10px;}
.yt-pricing .style3.column .pricing-bottom a{border-radius: 0 0 5px 5px; display: block; padding: 15px 0; text-transform: uppercase;font-size: 20px;}



.yt-gallery{
	width:100%;
}
.yt-gallery .gallery-title {
  margin: 0 8px 10px;
  font-size: 150%;
}

.yt-gallery .tabnav { width:100%;}
.yt-gallery .tabnav li{float:left;}
.yt-gallery .tabnav li span{height:30px; line-height:30px; padding:0 20px;cursor: pointer; font-size:12px; font-weight:bold; border-radius:5px 5px 0 0; display:block; color:#fff;background:#909090;margin-right:2px}
.yt-gallery .tabnav li.active span{background:#4e9e41;}
.yt-gallery ul.gallery-list{margin: 0 -10px;}
.yt-gallery ul.gallery-list li{padding: 10px;}

.yt-gallery ul li {
  float: left;
  margin: 0;
}
.yt-gallery ul li .item-gallery {
  position: relative;
 
}
.yt-gallery ul li .item-gallery a {
  display: block;
  position: relative;
  overflow: hidden;
}
.yt-gallery ul li .item-gallery a h3.item-gallery-title {
  font-size: 12px;
  margin: 0;
  font-weight: normal;
  padding: 5px 15px 5px 10px;
  color: #fff;
  position: absolute;
  left: -105%;
  bottom: 10px;
  z-index: 9;
  width: 100%;
  line-height: 22px;
  background: rgba(0,0,0,0.7);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.yt-gallery ul li .item-gallery a .image-overlay {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  filter: alpha(opacity=100);
  background: transparent;
}

.yt-gallery ul li .item-gallery .item-gallery-hover1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-size: 30px 30px;
    background:url(../images/magnifier.png) center center no-repeat #000;
	 cursor: pointer;
}
.yt-gallery ul li .item-gallery .item-gallery-hover2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-size: 30px 30px;
  -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition: -webkit-transform 1s;
    background:url(../images/magnifier2.png) center center no-repeat #4e9e41;
   cursor: pointer;
}
.yt-gallery ul li .item-gallery:hover .item-gallery-hover1 {
  opacity: 0.7;
  -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition: -webkit-transform 1s;
    -webkit-box-shadow: 0px 0px 4px #000;
    -moz-box-shadow: 0px 0px 4px #000;
    box-shadow: 0px 0px 4px #000;
  filter: alpha(opacity=100);
 
}
.yt-gallery ul li .item-gallery:hover .item-gallery-hover2 {
  opacity: 1;
  -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition: -webkit-transform 1s;
    -webkit-box-shadow: 0px 0px 4px #4e9e41;
    -moz-box-shadow: 0px 0px 4px #4e9e41;
    box-shadow: 0px 0px 4px #4e9e41;
  filter: alpha(opacity=100);
 
}

.yt-gallery ul li .item-gallery:hover h3.item-gallery-title {
   left: 0;
}
.yt-gallery ul li h4.item-gallery-title {
  font-size: 14px;
  margin: 0;
  font-weight: normal;
  padding: 5px 15px 5px 10px;
  color: #000;
  width: 100%;
  line-height: 22px;
  background: none;
  display: none;
}

