.so-latest-blog .media-heading a{
    font-size:14px;
    color:#333333;
    font-weight: normal;
    padding: 0 0 0 15px;
}
.so-latest-blog .blog-external-simple .media-heading a{
    font-size:14px;
    color:#0081c2;
    font-weight: normal;
    padding: 0px;
}
.blog-external-simple .media .item .media-body .media-heading:before{
    width:0px;
    height:0px;
}
.so-latest-blog .media-heading a:hover{color:#F4A137}
.so-latest-blog .media-content .description{padding:8px 0; font-size:13px; line-height:25px;}
.so-latest-blog .media-content .media-author{color:#F4A137; line-height:10px;border-right:1px solid #E5E5E5; padding: 0 10px 0 0;}
.so-latest-blog .media-content .media-comment,.so-latest-blog .media-content .media-view{color: #999; padding:0 10px;}
.so-latest-blog .media-content .readmore{float:right; padding-right:15px}
.so-latest-blog .media-content .media-subcontent{clear:both}
.so-latest-blog .media-content .media-date-added{ padding-top:8px;}
.so-latest-blog .blog-external {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-bottom: 1px dotted #ccc;
    border-top: 1px dotted #ccc;
    padding-bottom: 8px;
}

.so-blog-external .owl2-controls {
    margin-bottom: 8px;
    text-align: right;
    float: right;
    vertical-align: middle;
    display: inline;
}

.so-blog-external .owl2-controls .owl2-prev,
.so-blog-external .owl2-controls .owl2-next {
    float: left;
    outline: none;
    font-size: 22px;
    line-height: 18px;
    color: #797575;
    cursor: pointer;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    font-family: Arial;
    height: 20px;
    vertical-align: middle;
}

.so-blog-external .owl2-controls .owl2-dots .owl2-dot {
    display: inline-block;
    zoom: 1;
}

.so-blog-external .owl2-dots .owl2-dot {
    display: block;
    width: 12px;
    height: 12px;
    margin: 4px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #797575;
    cursor: pointer;
    vertical-align: middle;
}

.so-blog-external .owl2-dots .owl2-dot:hover {
    filter: Alpha(Opacity=100);
    opacity: 1;
    background: #77f9f1;
}

.so-blog-external.button-type2 .owl2-controls{
    width: 100%;
}

.so-blog-external.button-type2 .owl2-nav{
    float: right;
    text-align: right;
    margin-bottom: 8px;
}

.so-blog-external.button-type1 .owl2-dots{
    float: left;
}

.so-blog-external.button-type2 .owl2-dots{
    text-align: center;
    margin-top: 10px;
    display: block;
}

.so-blog-external .owl2-dots .owl2-dot.active {
    filter: Alpha(Opacity=100);
    opacity: 1;
    background: #77f9f1;
}

.so-blog-external .owl2-dots .owl2-dot:focus,
.so-blog-external .owl2-nav .owl2-prev:focus,
.so-blog-external .owl2-nav .owl2-next:focus {
    outline: none;
}

.so-blog-external.button-type2  .owl2-dots {
    text-align: center;
    margin-top: 10px;
    display: block;
}

.so-blog-external.button-type2 .owl2-prev,
.so-blog-external.button-type2 .owl2-next {
    background: none repeat scroll 0 0 #797575;
    border-radius: 50%;
    color: #FFF;
    cursor: pointer;
    float: left;
    font-family: Arial;
    font-size: 20px;
    font-weight: 600;
    height: 20px;
    line-height: 18px;
    margin: 0 0 0 4px;
    opacity: 0.5;
    outline: medium none;
    text-align: center;
    vertical-align: middle;
    width: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.so-blog-external .owl2-prev:hover,
.so-blog-external .owl2-next:hover {
    color: #fff;
    background: #77f9f1;
    filter: Alpha(Opacity=100);
    opacity: 1;
}
/*--------------item content----------------*/
.so-blog-external .blog-external .media{
    margin: 15px 0;
}
.so-blog-external .blog-external .media .media-body .description{
    margin-bottom: 15px;
}
.so-blog-external .blog-external .media .item{
    margin: 0;
}
.head-button{
    border-bottom: 1px #ccc solid;
    margin-bottom: 20px;
}

.so-blog-external .blog-external .media .media-left,
.so-blog-external .blog-external .media .media-content{
    display: none;
}
.so-blog-external .blog-external .media .so-block{
    display: block;
    float: left;
}
.so-title{
    color: #111111;
}
.media {
    position: relative;
}
.media .item .media-body .media-heading{
    position: relative;
}
.media .item .media-body .media-heading:before{
     content:'';
     position:absolute;
     width:5px;
     height:5px;
     background-color:#333;
     left:0;
     top:6px;
     margin-right:5px;
     display:inline-block;
}
.media .item .media-body .media-heading.head-item a{
    color: #0081c2;
    padding: 0;
}
.media .item .media-body .media-heading.head-item:before{
     width:0px;
     height:0px;
}